In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.preprocessing import OneHotEncoder

In [ ]:
credit_approval = pd.read_csv('/content/drive/MyDrive/application_record_UP.csv')
credit_approval.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2,C
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2,C
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X

In [ ]:
credit_approval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  int64
 18  STATUS               36457 non-null   object
dtypes: float64(1), int64(9), object(9)
memory usage: 63.6+ MB

In [ ]:
credit_approval.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
count,4.385570e+05,438557.000000,4.385570e+05,438557.000000,438557.000000,438557.0,438557.000000,438557.000000,438557.000000,438557.000000
mean,6.022176e+06,0.427390,1.875243e+05,-15997.904649,60563.675328,1.0,0.206133,0.287771,0.108207,2.194465
std,5.716370e+05,0.724882,1.100869e+05,4185.030007,138767.799647,0.0,0.404527,0.452724,0.310642,0.897207
min,5.008804e+06,0.000000,2.610000e+04,-25201.000000,-17531.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.609375e+06,0.000000,1.215000e+05,-19483.000000,-3103.000000,1.0,0.000000,0.000000,0.000000,2.000000
50%,6.047745e+06,0.000000,1.607805e+05,-15630.000000,-1467.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,6.456971e+06,1.000000,2.250000e+05,-12514.000000,-371.000000,1.0,0.000000,1.000000,0.000000,3.000000
max,7.999952e+06,19.000000,6.750000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000

In [ ]:
credit_approval.isnull().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
STATUS                 402100
dtype: int64

In [ ]:
credit_approval.duplicated().sum()

0

In [ ]:
credit_approval.drop_duplicates(inplace=True)

In [ ]:
credit_approval.shape

(438557, 19)

In [ ]:
credit_approval.dtypes

ID                       int64
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN             int64
AMT_INCOME_TOTAL       float64
NAME_INCOME_TYPE        object
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_MOBIL               int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
OCCUPATION_TYPE         object
CNT_FAM_MEMBERS          int64
STATUS                  object
dtype: object

In [ ]:
credit_approval.drop(['ID'], axis=1, inplace=True)

In [ ]:
credit_approval.isnull().sum()

CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
STATUS                 402100
dtype: int64

In [ ]:
credit_approval.dropna(subset=['OCCUPATION_TYPE'], inplace=True)

In [ ]:

# Assuming 'credit_approval_with_nan' is a DataFrame with NaN values in 'STATUS' column
# and 'STATUS' is the column you want to predict
credit_approval_with_nan = credit_approval.copy()

# Introduce some NaNs in the 'STATUS' column
credit_approval_with_nan['STATUS'] = credit_approval_with_nan['STATUS'].sample(frac=0.9)  # Replace 'TARGET' with 'STATUS'

# Split data into known and unknown STATUS
known_status = credit_approval_with_nan[credit_approval_with_nan['STATUS'].notna()]
unknown_status = credit_approval_with_nan[credit_approval_with_nan['STATUS'].isna()]

# Prepare data for prediction
X_known = known_status.drop('STATUS', axis=1)  # Replace 'TARGET' with 'STATUS'
y_known = known_status['STATUS']
X_unknown = unknown_status.drop('STATUS', axis=1) # Replace 'TARGET' with 'STATUS'

# Convert categorical features to numerical using one-hot encoding
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')  # 'ignore' to handle new categories in X_unknown
X_known_encoded = encoder.fit_transform(X_known)
X_unknown_encoded = encoder.transform(X_unknown)  # Use the same encoder to transform X_unknown

# Train the model on known data
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_known_encoded, y_known)

# Predict missing STATUS values
predicted_status = model.predict(X_unknown_encoded)

# Fill in the missing values
credit_approval_with_nan.loc[credit_approval_with_nan['STATUS'].isna(), 'STATUS'] = predicted_status # Replace 'TARGET' with 'STATUS'

print(credit_approval_with_nan)

       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
2                M            Y               Y             0
3                F            N               Y             0
4                F            N               Y             0
5                F            N               Y             0
6                F            N               Y             0
...            ...          ...             ...           ...
438541           M            N               Y             0
438548           M            Y               Y             1
438553           F            N               N             0
438554           F            N               N             0
438556           F            N               Y             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
5               270000.0  Commercial associate  Secondary / secondary special
6               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438541          202500.0               Working               Higher education
438548          135000.0               Working  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special
438554           54000.0  Commercial associate               Higher education
438556          121500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
5       Single / not married  House / apartment      -19110          -3051
6       Single / not married  House / apartment      -19110          -3051
...                      ...                ...         ...            ...
438541        Civil marriage  House / apartment      -13510          -2309
438548               Married  House / apartment      -12569          -2095
438553  Single / not married  House / apartment      -15939          -3007
438554  Single / not married       With parents       -8169           -372
438556               Married  House / apartment      -18858          -1201

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
4                1                0           1           1     Sales staff
5                1                0           1           1     Sales staff
6                1                0           1           1     Sales staff
...            ...              ...         ...         ...             ...
438541           1                1           0           0        Laborers
438548           1                0           0           0        Laborers
438553           1                0           0           0        Laborers
438554           1                1           0           0     Sales staff
438556           1                0           1           0     Sales staff

        CNT_FAM_MEMBERS STATUS
2                     2      C
3                     1      0
4                     1      X
5                     1      C
6                     1      0
...                 ...    ...
438541                2      C
438548                3      C
438553                1      C
438554                1      C
438556                2      C

[304354 rows x 18 columns]

In [ ]:
print(predicted_status)

['0' '0' '0' ... 'C' 'C' 'C']

In [ ]:
credit_approval_with_nan.isnull().sum()

CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
STATUS                 0
dtype: int64

In [ ]:
credit_approval.STATUS.value_counts()

STATUS
C    12319
X     6699
0     5835
1      203
5       59
2       12
4        4
3        3
Name: count, dtype: int64

In [ ]:
credit_approval.shape

(304354, 18)

In [ ]:
credit_approval_with_nan.isnull().sum()

CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
STATUS                 0
dtype: int64

In [ ]:
credit_approval_with_nan.STATUS.value_counts()

STATUS
C    224630
0     48572
X     30274
1       664
5       161
2        45
4         4
3         4
Name: count, dtype: int64

In [ ]:
credit_approval_with_nan.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,C
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0

In [ ]:
ss1 = credit_approval_with_nan.copy()

In [ ]:
ss1.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,C
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0

In [ ]:
credit_approval_with_nan.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,C
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0

In [ ]:
credit_approval_with_nan.shape

(304354, 18)

In [ ]:
credit_approval_with_nan['DAYS_BIRTH'] = credit_approval_with_nan['DAYS_BIRTH'] / -365
credit_approval_with_nan['DAYS_EMPLOYED'] = credit_approval_with_nan['DAYS_EMPLOYED'] / -365

In [ ]:
credit_approval_with_nan['FLAG_OWN_CAR1'] = credit_approval_with_nan['FLAG_OWN_CAR'].apply(lambda x: 1 if x == 'Y' else 0)
credit_approval_with_nan['FLAG_OWN_REALTY1'] = credit_approval_with_nan['FLAG_OWN_REALTY'].apply(lambda x: 1 if x == 'Y' else 0)
credit_approval_with_nan['CNT_CHILDREN1'] = credit_approval_with_nan['CNT_CHILDREN'].apply(lambda x: 1 if x > 7 else 0)
credit_approval_with_nan['AMT_INCOME_TOTAL1'] = credit_approval_with_nan['AMT_INCOME_TOTAL'].apply(lambda x: 1 if x > 2500000 else 0)
credit_approval_with_nan['YEARS_EMPLOYED'] = credit_approval_with_nan['DAYS_EMPLOYED'].apply(lambda x: 1 if x > 10 else 0)
credit_approval_with_nan['DAYS_BIRTH1'] = credit_approval_with_nan['DAYS_BIRTH'].apply(lambda x: 1 if x > 70 else 0)
credit_approval_with_nan['STATUS1'] = credit_approval_with_nan['STATUS'].apply(lambda x: 1 if x == 'c'or 'x' or 0 else 0)
credit_approval_with_nan['CNT_FAM_MEMBERS1'] = credit_approval_with_nan['CNT_FAM_MEMBERS'].apply(lambda x: 1 if x > 5 else 0)
credit_approval_with_nan['OCCUPATION_TYPE1'] = credit_approval_with_nan['OCCUPATION_TYPE'].apply(lambda x: 1 if x == 'Accountants'or 'Managers'or'High skill tech staff'or'HR staff'or'IT staff'or'Private service staff'or'Sales staff' else 0)
credit_approval_with_nan['CODE_GENDER1'] = credit_approval_with_nan['CODE_GENDER'].apply(lambda x: 1 if x == 'F' else 1)
credit_approval_with_nan['FLAG_EMAIL1'] = credit_approval_with_nan['FLAG_EMAIL'].apply(lambda x: 1 if x == 'Y' else 1)
credit_approval_with_nan['FLAG_WORK_PHONE1'] = credit_approval_with_nan['FLAG_WORK_PHONE'].apply(lambda x: 1 if x == 'Y' else 1)
credit_approval_with_nan['FLAG_PHONE1'] = credit_approval_with_nan['FLAG_PHONE'].apply(lambda x: 1 if x == 'Y' else 1)
credit_approval_with_nan['FLAG_MOBIL1'] = credit_approval_with_nan['FLAG_MOBIL'].apply(lambda x: 1 if x == 'Y' else 1)
credit_approval_with_nan['NAME_INCOME_TYPE1'] = credit_approval_with_nan['NAME_INCOME_TYPE'].apply(lambda x: 0 if x == 'Pensioner'or'Student' else 1)
credit_approval_with_nan['NAME_EDUCATION_TYPE1'] = credit_approval_with_nan['NAME_EDUCATION_TYPE'].apply(lambda x: 1 if x == 'Secondary / secondary special'or'Higher education'or'Incomplete higher'else 1)
credit_approval_with_nan['NAME_FAMILY_STATUS1'] = credit_approval_with_nan['NAME_FAMILY_STATUS'].apply(lambda x: 1 if x == 'Married'or'Civil marriage'else 0)
credit_approval_with_nan['NAME_HOUSING_TYPE1'] = credit_approval_with_nan['NAME_HOUSING_TYPE'].apply(lambda x: 1 if x == 'House / apartment'else 0)

In [ ]:
credit_approval_with_nan.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,...,OCCUPATION_TYPE1,CODE_GENDER1,FLAG_EMAIL1,FLAG_WORK_PHONE1,FLAG_PHONE1,FLAG_MOBIL1,NAME_INCOME_TYPE1,NAME_EDUCATION_TYPE1,NAME_FAMILY_STATUS1,NAME_HOUSING_TYPE1
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,58.832877,...,1,1,1,1,1,1,0,1,1,1
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,...,1,1,1,1,1,1,0,1,1,1
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,...,1,1,1,1,1,1,0,1,1,1
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,...,1,1,1,1,1,1,0,1,1,1
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,...,1,1,1,1,1,1,0,1,1,1

In [ ]:
credit_approval_with_nan.drop(['DAYS_BIRTH', 'DAYS_EMPLOYED'], axis=1, inplace=True)

In [ ]:
credit_approval_with_nan.drop(['CODE_GENDER','FLAG_OWN_CAR'],axis=1,inplace=True)

In [ ]:
credit_approval_with_nan.drop(['FLAG_MOBIL','FLAG_WORK_PHONE','FLAG_PHONE'],axis=1,inplace=True)

In [ ]:
credit_approval_with_nan.drop(['FLAG_OWN_REALTY','FLAG_EMAIL','CNT_CHILDREN','AMT_INCOME_TOTAL','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE'],axis=1,inplace=True)

In [ ]:
credit_approval_with_nan.drop(['OCCUPATION_TYPE','CNT_FAM_MEMBERS','STATUS'],axis=1,inplace=True)

In [ ]:
credit_approval_with_nan.head()

,FLAG_OWN_CAR1,FLAG_OWN_REALTY1,CNT_CHILDREN1,AMT_INCOME_TOTAL1,YEARS_EMPLOYED,DAYS_BIRTH1,STATUS1,CNT_FAM_MEMBERS1,OCCUPATION_TYPE1,CODE_GENDER1,FLAG_EMAIL1,FLAG_WORK_PHONE1,FLAG_PHONE1,FLAG_MOBIL1,NAME_INCOME_TYPE1,NAME_EDUCATION_TYPE1,NAME_FAMILY_STATUS1,NAME_HOUSING_TYPE1
2,1,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1
3,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1
4,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1
5,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1
6,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1

In [ ]:
credit_approval_with_nan.shape

(304354, 18)

In [ ]:

credit_approval_with_nan['Total'] = credit_approval_with_nan.sum(axis=1)
credit_approval_with_nan.head()

,FLAG_OWN_CAR1,FLAG_OWN_REALTY1,CNT_CHILDREN1,AMT_INCOME_TOTAL1,YEARS_EMPLOYED,DAYS_BIRTH1,STATUS1,CNT_FAM_MEMBERS1,OCCUPATION_TYPE1,CODE_GENDER1,FLAG_EMAIL1,FLAG_WORK_PHONE1,FLAG_PHONE1,FLAG_MOBIL1,NAME_INCOME_TYPE1,NAME_EDUCATION_TYPE1,NAME_FAMILY_STATUS1,NAME_HOUSING_TYPE1,Total
2,1,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,12
3,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11
4,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11
5,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11
6,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11

In [ ]:
credit_approval_with_nan.Total.value_counts()

Total
11    127321
12     99284
10     48564
13     18545
9      10589
14        51
Name: count, dtype: int64

In [ ]:
credit_approval_with_nan['Total1'] = credit_approval_with_nan['Total'].apply(lambda x: 1 if x > 10 else 0)

In [ ]:
credit_approval_with_nan.head()

,FLAG_OWN_CAR1,FLAG_OWN_REALTY1,CNT_CHILDREN1,AMT_INCOME_TOTAL1,YEARS_EMPLOYED,DAYS_BIRTH1,STATUS1,CNT_FAM_MEMBERS1,OCCUPATION_TYPE1,CODE_GENDER1,FLAG_EMAIL1,FLAG_WORK_PHONE1,FLAG_PHONE1,FLAG_MOBIL1,NAME_INCOME_TYPE1,NAME_EDUCATION_TYPE1,NAME_FAMILY_STATUS1,NAME_HOUSING_TYPE1,Total,Total1
2,1,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,12,1
3,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11,1
4,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11,1
5,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11,1
6,0,1,0,0,0,0,1,0,1,1,1,1,1,1,0,1,1,1,11,1

In [ ]:
credit_approval_with_nan.Total1.value_counts()

Total1
1    245201
0     59153
Name: count, dtype: int64

In [ ]:
# prompt: code for smoth

# You need to specify what you want to smooth.
# Assuming you want to smooth the 'Total' column using a rolling average:

# Window size for the rolling average
window_size = 3

# Calculate the rolling average
credit_approval_with_nan['Total_Smoothed'] = (
    credit_approval_with_nan['Total'].rolling(window=window_size, center=True).mean()
)

print(credit_approval_with_nan.head())

   FLAG_OWN_CAR1  FLAG_OWN_REALTY1  CNT_CHILDREN1  AMT_INCOME_TOTAL1  \
2              1                 1              0                  0
3              0                 1              0                  0
4              0                 1              0                  0
5              0                 1              0                  0
6              0                 1              0                  0

   YEARS_EMPLOYED  DAYS_BIRTH1  STATUS1  CNT_FAM_MEMBERS1  OCCUPATION_TYPE1  \
2               0            0        1                 0                 1
3               0            0        1                 0                 1
4               0            0        1                 0                 1
5               0            0        1                 0                 1
6               0            0        1                 0                 1

   CODE_GENDER1  ...  FLAG_WORK_PHONE1  FLAG_PHONE1  FLAG_MOBIL1  \
2             1  ...                 1            1            1
3             1  ...                 1            1            1
4             1  ...                 1            1            1
5             1  ...                 1            1            1
6             1  ...                 1            1            1

   NAME_INCOME_TYPE1  NAME_EDUCATION_TYPE1  NAME_FAMILY_STATUS1  \
2                  0                     1                    1
3                  0                     1                    1
4                  0                     1                    1
5                  0                     1                    1
6                  0                     1                    1

   NAME_HOUSING_TYPE1  Total  Total1  Total_Smoothed
2                   1     12       1             NaN
3                   1     11       1       11.333333
4                   1     11       1       11.000000
5                   1     11       1       11.000000
6                   1     11       1       11.333333

[5 rows x 21 columns]

In [ ]:
ss1['Total'] = credit_approval_with_nan['Total']
ss1['Ap/NotAp'] = credit_approval_with_nan['Total1']

In [ ]:
ss1.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS,Total,Ap/NotAp
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C,12,1
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0,11,1
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X,11,1
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,C,11,1
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0,11,1

In [ ]:
ss1.drop(['Total1'],axis=1,inplace=True)

KeyError: "['Total1'] not found in axis"

In [ ]:
ss1.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS,Total,Ap/NotAp
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2,C,12,1
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0,11,1
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,X,11,1
5,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,C,11,1
6,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1,0,11,1

In [ ]:
num = ss1.select_dtypes(include='number')
cat = ss1.select_dtypes(include='object')

In [ ]:
dummy = pd.get_dummies(cat,dtype='int64')
dummy.head()

,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,...,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
2,0,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,1,0,1,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,0,1,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
con = pd.concat([num,dummy],axis=1)
con.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,Total,...,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
2,0,112500.0,-21474,-1134,1,0,0,0,2,12,...,1,0,0,0,0,0,0,0,1,0
3,0,270000.0,-19110,-3051,1,0,1,1,1,11,...,0,0,1,0,0,0,0,0,0,0
4,0,270000.0,-19110,-3051,1,0,1,1,1,11,...,0,0,0,0,0,0,0,0,0,1
5,0,270000.0,-19110,-3051,1,0,1,1,1,11,...,0,0,0,0,0,0,0,0,1,0
6,0,270000.0,-19110,-3051,1,0,1,1,1,11,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
X = con.drop(['Ap/NotAp'],axis=1)
y = con['Ap/NotAp']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (243483, 63) (243483,)
Testing set shape: (60871, 63) (60871,)

In [ ]:


from sklearn.ensemble import AdaBoostClassifier

# Create an AdaBoostClassifier model
adaboost_model = AdaBoostClassifier(n_estimators=50, random_state=42)  # You can adjust n_estimators as needed

# Fit the model to the training data
adaboost_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_ada = adaboost_model.predict(X_test)

# Evaluate the model
accuracy_ada = accuracy_score(y_test, y_pred_ada)
print("AdaBoost Accuracy:", accuracy_ada)

AdaBoost Accuracy: 1.0

In [ ]:


from sklearn.ensemble import BaggingClassifier

# Create a BaggingClassifier model
bagging_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),  # You can use other base estimators too
    n_estimators=50,  # Number of base estimators (you can adjust this)
    random_state=42
)

# Fit the model to the training data
bagging_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_bagging = bagging_model.predict(X_test)

# Evaluate the model
accuracy_bagging = accuracy_score(y_test, y_pred_bagging)
print("Bagging Accuracy:", accuracy_bagging)

Bagging Accuracy: 1.0